@font-face {
  font-family: Pixel;
  src: url("assets/fonts/04B_03_.TTF");
}

body {
    background-color: #2E2E2E;
    /*#C47E78*/
}

#container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#secret {
  color: #2E2E2E;
  font-family: Pixel;
  font-size: 10px;
}
